* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.fundo {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(45deg, rgb(174, 0, 255), rgb(57, 2, 255));
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    text-align: center;
    width: 1250px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.header {
    text-align: center;
}

input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

button {
    background-image: linear-gradient(45deg, rgb(174, 0, 255), rgb(57, 2, 255));
    border: none;
    padding: 15px;
    width: 225px;
    border-radius: 10px;
    color: white;
}

hr {
    width: 95%;
    margin: auto;
}